<live-region data-live-region="cart-checkout" aria-live="polite">
  <div class="cart-checkout">
    <div class="cart-checkout__main-button">
      <button type="submit" form="cart-items-form-mini-cart" class="button button--full-width" name="checkout">
        Checkout
      </button>
    </div>
  </div>
</live-region>