<section class="footer-social">
  <link rel="stylesheet" href="/stylesheets/footer-social.css" media="print" onload="this.media='all'">

  <div class="footer-social__content">
    <%= partial "components/social-links" %>
  </div>
</section>