<section class="footer-email">
  <link rel="stylesheet" href="/stylesheets/footer-email.css" media="print" onload="this.media='all'">

  <div class="footer-email__content">
    <h2 class="footer-email__heading heading-2 text-center">Email Signup</h2>

    <div class="footer-email__text text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="footer-email__form">
      <%= partial "components/email-form" %>
    </div>
  </div>
</section>