<section class="footer-utility">
  <link rel="stylesheet" href="/stylesheets/footer-utility.css" media="print" onload="this.media='all'">

  <div class="footer-utility__content">
    <div class="footer-utility__cell">
      <p class="footer-utiltiy__copyright">
        © 2024
        <a href="/" title="">Syatt Media</a>
      </p>
    </div>

    <div class="footer-utility__cell">
      <nav class="footer-utility__nav" aria-label="Additional links">
        <ul class="footer-utility__nav-items inline-list">
          <li class="footer-utility__nav-item">
            <a class="footer-utility__nav-link" href="/policies/refund-policy">
              Refund policy
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>