<section class="footer-menus">
  <link rel="stylesheet" href="/stylesheets/footer-menus.css" media="print" onload="this.media='all'">

  <div class="footer-menus__content vertical-flow">
    <div class="footer-menus__nav" aria-labelledby="heading-658d14fc-885a-4c5c-90fc-3480b7e22969">
      <h2 class="heading-2" id="heading-658d14fc-885a-4c5c-90fc-3480b7e22969">Menu 1</h2>

      <%= partial "data/footer-menu" %>
    </div>

    <div class="footer-menus__nav" aria-labelledby="heading-8904ed8d-b6c5-449c-900e-4e10b8e4767c">
      <h2 class="heading-2" id="heading-8904ed8d-b6c5-449c-900e-4e10b8e4767c">Menu 2</h2>

      <%= partial "data/footer-menu" %>
    </div>

    <div class="footer-menus__nav" aria-labelledby="heading-b07774ca-b710-4fed-8249-d1961d2580c2">
      <h2 class="heading-2" id="heading-b07774ca-b710-4fed-8249-d1961d2580c2">Menu 3</h2>

      <%= partial "data/footer-menu" %>
    </div>
  </div>
</section>