<section class="hero">
  <link rel="stylesheet" href="/stylesheets/hero.css" media="print" onload="this.media='all'" />
  
  <div class="hero__media-wrapper hero__media-wrapper--adapt">
    <img 
    src="https://placehold.co/4000x2000/png?text=Hero+Image" 
    srcset="https://placehold.co/2000x1000/png?text=Hero+Image 2000w, 
            https://placehold.co/3000x1500/png?text=Hero+Image 3000w, 
            https://placehold.co/4000x2000/png?text=Hero+Image 4000w" 
    sizes="100vw"
    class="hero__media fit-image" 
    loading="lazy" 
    alt="Hero Image" />  
  </div>

  <div class="hero__content-wrapper hero__content-wrapper--middle-center">
    <div class="hero__content hero__content--middle-center vertical-flow">
      <div class="hero__block hero__block--heading">
        <h1 class="section-heading heading-2 no-margin text-center" style="color: inherit">Lorem ipsum dolor sit amet</h1>
      </div>

      <div class="hero__block hero__block--text">
        <div class="section-text text-center" style="color: inherit">
          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="hero__block hero__block--buttons">
        <div class="section-buttons section-buttons--row section-buttons--center">
          <div class="section-buttons__button section-buttons__button--1">
            <a href="#" class="button" role="button" aria-label="Button">
              Button
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>