<div class="media-with-text">
  <link rel="stylesheet" href="/stylesheets/media-with-text.css" media="print" onload="this.media='all'">

  <div class="media-with-text__grid">

    <div class="media-with-text__image-wrapper">

      <img srcset="https://placehold.co/400/png?text=Image+1 400w,
                    https://placehold.co/500/png?text=Image+1 500w,
                    https://placehold.co/600/png?text=Image+1 600w,
                    https://placehold.co/700/png?text=Image+1 700w,
                    https://placehold.co/800/png?text=Image+1 800w,
                    https://placehold.co/900/png?text=Image+1 900w,
                    https://placehold.co/1000/png?text=Image+1 1000w,
                    https://placehold.co/1100/png?text=Image+1 1100w,
                    https://placehold.co/1200/png?text=Image+1 1200w,
                    https://placehold.co/1300/png?text=Image+1 1300w,
                    https://placehold.co/1400/png?text=Image+1 1400w,
                    https://placehold.co/1500/png?text=Image+1 1500w,
                    https://placehold.co/2000/png?text=Image+1 2000w
                    " src="https://placehold.co/2000/png?text=Image+1" sizes="100vw" class="media-with-text__image" loading="lazy" alt="media with text image"/>
    </div>

    <div class="media-with-text__text-wrapper">
      <div class="media-with-tex__content media-with-tex__content--middle-center vertical-flow">
        <div class="media-with-tex__block media-with-tex__block--heading">
          <div class="section-heading heading-2 no-margin text-center" style="color: inherit">Heading</div>
        </div>

        <div class="media-with-tex__block media-with-tex__block--text">
          <div class="section-text text-center" style="color: inherit">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="media-with-tex__block media-with-tex__block--buttons">
          <div class="section-buttons section-buttons--row section-buttons--center">
            <div class="section-buttons__button section-buttons__button--1">
              <a href="#" class="button" role="button" aria-label="Button">
                Button
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>