<div class="mega-menu">
  <link rel="stylesheet" href="/stylesheets/mega-menu.css" media="all">

  <div class="content-wrapper">
    <!-- There are no changes expected from this point down into the DOM -->
    <%= partial "data/#{ item }" %>
  </div>
</div>