<footer class="page-footer">
  <link rel="stylesheet" href="/stylesheets/page-footer.css" media="print" onload="this.media='all'">

  <div class="page-footer__content content-wrapper">
    <%= partial "components/footer-menus" %>

    <%= partial "components/footer-email" %>

    <%= partial "components/footer-social" %>

    <%= partial "components/footer-utility" %>
  </div>
</footer>