<ul class="social-links list-reset">
  <link rel="stylesheet" href="/stylesheets/social-links.css" media="print" onload="this.media='all'">

  <li class="social-links__item social-links__item--facebook">
    <a href="/" class="social-links__link" target="_blank" aria-label="Facebook">
      <span class="icon icon--facebook social-links__icon" aria-hidden="true" focusable="false" role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="25" viewBox="0 0 12 25">
          <path d="M0.0234375 8.34953H2.55308V5.868C2.55308 4.76816 2.55308 3.07714 3.37797 2.03229C4.29839 0.7673 5.80407 0.063785 7.36491 0.169426C8.90742 0.101909 10.4516 0.257023 11.9499 0.629987L11.3106 4.41758C10.6383 4.2314 9.94578 4.12753 9.24839 4.10825C8.25166 4.10825 7.36491 4.4657 7.36491 5.48306V8.34953H11.4481L11.1663 12.0546H7.36491V24.916H2.55308V12.0546H0.0234375V8.34953Z"></path>
        </svg>
      </span>
    </a>
  </li>

  <li class="social-links__item social-links__item--instagram">
    <a href="/" class="social-links__link" target="_blank" aria-label="Instagram">
      <span class="icon icon--instagram social-links__icon" aria-hidden="true" focusable="false" role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26">
          <path d="M20.0413 0.773193H4.90905C2.2499 0.773193 0.0942383 2.92886 0.0942383 5.58801V20.7203C0.0942383 21.9972 0.601513 23.2219 1.50447 24.1249C2.40742 25.0278 3.63208 25.5351 4.90905 25.5351H20.0413C21.3183 25.5351 22.543 25.0278 23.4459 24.1249C24.3489 23.2219 24.8561 21.9972 24.8561 20.7203V5.58801C24.8561 4.31104 24.3489 3.08637 23.4459 2.18342C22.543 1.28047 21.3183 0.773193 20.0413 0.773193ZM21.417 3.62769H21.9604V7.82346H17.7784V3.62769H21.417ZM8.94662 10.616C10.2013 8.88233 12.5311 8.31966 14.4387 9.28968C16.3463 10.2597 17.2641 12.4738 16.6023 14.509C15.9404 16.5441 13.8958 17.7948 11.7826 17.4572C9.6693 17.1196 8.11609 15.2942 8.1212 13.1541C8.12387 12.2426 8.41257 11.3548 8.94662 10.616ZM22.4489 20.7203C22.4544 21.3592 22.2021 21.9734 21.749 22.4239C21.2959 22.8745 20.6802 23.1232 20.0413 23.1139H4.90905C4.27134 23.1213 3.65749 22.8718 3.20588 22.4215C2.75428 21.9711 2.50294 21.358 2.50835 20.7203V10.616H6.20218C5.05684 13.4432 5.9441 16.6871 8.36888 18.5377C10.7937 20.3883 14.1567 20.3883 16.5815 18.5377C19.0063 16.6871 19.8935 13.4432 18.7482 10.616H22.4489V20.7203Z"></path>
        </svg>
      </span>
    </a>
  </li>

  <li class="social-links__item social-links__item--youtube">
    <a href="/" class="social-links__link" target="_blank" aria-label="Youtube">
      <span class="icon icon--youtube social-links__icon" aria-hidden="true" focusable="false" role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.151 4.731c.677.183 1.21.72 1.392 1.402.329 1.237.329 3.817.329 3.817s0 2.58-.33 3.817a1.98 1.98 0 0 1-1.391 1.402c-1.227.33-6.15.33-6.15.33s-4.923 0-6.15-.33a1.979 1.979 0 0 1-1.392-1.402C2.13 12.53 2.13 9.95 2.13 9.95s0-2.58.329-3.817c.18-.682.714-1.22 1.392-1.402C5.078 4.4 10 4.4 10 4.4s4.923 0 6.15.331Zm-3.627 5.194L8.386 12.27V7.579l4.138 2.346Z"></path>
        </svg>
      </span>
    </a>
  </li>

  <li class="social-links__item social-links__item--tiktok" >
    <a href="/" class="social-links__link" target="_blank" aria-label="Tik Tok">
      <span class="icon icon--tiktok social-links__icon" aria-hidden="true" focusable="false" role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.126 2c.264 2.27 1.532 3.624 3.735 3.768v2.554c-1.277.125-2.396-.293-3.696-1.08v4.776c0 6.067-6.615 7.963-9.274 3.614-1.71-2.798-.663-7.709 4.82-7.905v2.692a7.931 7.931 0 0 0-1.273.313c-1.22.412-1.91 1.185-1.718 2.548.37 2.612 5.16 3.385 4.761-1.718V2.005h2.645V2Z"></path>
        </svg>
      </span>
    </a>
  </li>

  <li class="social-links__item social-links__item--twitter">
    <a href="/" class="social-links__link" target="_blank" aria-label="Twiiter">
      <span class="icon icon--twitter social-links__icon" aria-hidden="true" focusable="false" role="presentation">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15">
          <path d="M19 1.7709C18.2887 2.07628 17.5345 2.27676 16.7622 2.3657C17.5751 1.89351 18.183 1.14978 18.4722 0.273654C17.7073 0.714944 16.87 1.0254 15.9969 1.19149C15.4618 0.639343 14.7684 0.25593 14.0064 0.090851C13.2445 -0.0742284 12.4491 -0.0133777 11.7232 0.26553C10.9972 0.544438 10.3741 1.02857 9.93451 1.65529C9.49488 2.28201 9.25895 3.02248 9.25722 3.7809C9.2561 4.07086 9.28975 4.35995 9.3575 4.64233C7.80746 4.56686 6.29102 4.17596 4.90636 3.49495C3.5217 2.81393 2.29968 1.85798 1.31944 0.688985C0.82215 1.52319 0.670324 2.51002 0.894803 3.44904C1.11928 4.38807 1.70323 5.20887 2.52806 5.74476C1.90852 5.72605 1.30247 5.56435 0.76 5.27302V5.31917C0.760529 6.19381 1.07248 7.04135 1.64293 7.71799C2.21338 8.39464 3.0072 8.85872 3.88972 9.03152C3.55456 9.1215 3.20827 9.16635 2.86056 9.16484C2.6091 9.1664 2.35809 9.14407 2.11111 9.09818C2.35913 9.85132 2.84376 10.51 3.49693 10.9818C4.1501 11.4536 4.93899 11.7148 5.75278 11.7286C4.12131 12.9646 2.05521 13.5281 0 13.2976C1.78216 14.4102 3.85611 15.0011 5.97444 15C13.1469 15 17.0578 9.2315 17.0578 4.23213C17.0578 4.06805 17.0578 3.90396 17.0578 3.71937C17.8189 3.18679 18.4765 2.52704 19 1.7709Z"></path>
        </svg>
      </span>
    </a>
  </li>
</ul>