<section id="shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6" class="shopify-section shopify-section--hero">
  <style>
    #shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6 .hero__content-wrapper {

      @media screen and (max-width: 768px),
      print {
        align-self: center !important;
        justify-self: center !important;
      }
    }

    #shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6 .hero__content {}
  </style>

  <div class="shopify-section__content content-wrapper">
    <%= partial "components/hero" %>
  </div>
</section>

<section id="shopify-section-template--17841128014003__media_with_text_jNYbA3" class="shopify-section shopify-section--media-with-text">
  <style>
    @layer components {
      #shopify-section-template--17841128014003__media_with_text_jNYbA3 {
        margin-top: calc(var(--spacing-unit-xl) * 0.75);
        margin-bottom: calc(var(--spacing-unit-xl) * 0.75);
        padding-top: calc(var(--spacing-unit-0) * 0.75);
        padding-bottom: calc(var(--spacing-unit-0) * 0.75);

        @media screen and (min-width: 768px),
        print {
          margin-top: var(--spacing-unit-xl);
          margin-bottom: var(--spacing-unit-xl);
          padding-top: var(--spacing-unit-0);
          padding-bottom: var(--spacing-unit-0);
        }
      }
    }
  </style>

  <style>
    @layer components {

      @media screen and (min-width: 768px),
      print {
        #shopify-section-template--17841128014003__media_with_text_jNYbA3 .media-with-text__image-wrapper {
          grid-column: 1 / span 7 !important;
        }

        #shopify-section-template--17841128014003__media_with_text_jNYbA3 .media-with-text__text-wrapper {
          grid-column: 8 / span 5 !important;
        }
      }
    }
  </style>

  <div class="shopify-section__content content-wrapper">
    <%= partial "components/media-with-text" %>
  </div>
</section>

<section id="shopify-section-template--17841128014003__media_with_text_VfzraG" class="shopify-section shopify-section--media-with-text">
  <style>
    @layer components {
      #shopify-section-template--17841128014003__media_with_text_VfzraG {
        margin-top: calc(var(--spacing-unit-xl) * 0.75);
        margin-bottom: calc(var(--spacing-unit-xl) * 0.75);
        padding-top: calc(var(--spacing-unit-0) * 0.75);
        padding-bottom: calc(var(--spacing-unit-0) * 0.75);

        @media screen and (min-width: 768px),
        print {
          margin-top: var(--spacing-unit-xl);
          margin-bottom: var(--spacing-unit-xl);
          padding-top: var(--spacing-unit-0);
          padding-bottom: var(--spacing-unit-0);
        }
      }
    }
  </style>

  <style>
    @layer components {

      @media screen and (min-width: 768px),
      print {
        #shopify-section-template--17841128014003__media_with_text_VfzraG .media-with-text__image-wrapper {
          grid-column: 6 / span 7 !important;
        }

        #shopify-section-template--17841128014003__media_with_text_VfzraG .media-with-text__text-wrapper {
          grid-column: 1 / span 5 !important;
        }
      }
    }
  </style>

  <div class="shopify-section__content content-wrapper">
    <%= partial "components/media-with-text" %>
  </div>
</section>
