<ul class="mega-menu__list mega-menu__list--1 mega-menu__list--grid list-reset">

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-brand">

    <span class="mega-menu__link mega-menu__link--1">By Brand</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/adidas" class="mega-menu__link mega-menu__link--2">ADIDAS</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/asics-tiger" class="mega-menu__link mega-menu__link--2">ASICS TIGER</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/dr-martens" class="mega-menu__link mega-menu__link--2">DR MARTENS</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/converse" class="mega-menu__link mega-menu__link--2">CONVERSE</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="shoes">

    <a href="/collections/shoes" class="mega-menu__link mega-menu__link--1">Shoes</a>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/puma" class="mega-menu__link mega-menu__link--2">PUMA</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/adidas" class="mega-menu__link mega-menu__link--2">ADIDAS</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/vans" class="mega-menu__link mega-menu__link--2">VANS</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="accessories">

    <a href="/collections/accessories" class="mega-menu__link mega-menu__link--1">Accessories</a>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/herschel" class="mega-menu__link mega-menu__link--2">HERSCHEL</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/nike" class="mega-menu__link mega-menu__link--2">NIKE</a>

      </li>

    </ul>

  </li>

</ul>