<!-- There are no changes expected from this point down into the DOM -->
<ul class="footer-menus__nav-items list-reset">
  <li class="footer-menus__nav-item">
    <a class="footer-menus__nav-link" href="/">
      Menu Item 1
    </a>
  </li>

  <li class="footer-menus__nav-item">
    <a class="footer-menus__nav-link" href="/">
      Menu Item 2
    </a>
  </li>

  <li class="footer-menus__nav-item">
    <a class="footer-menus__nav-link" href="/">
      Menu Item 3
    </a>
  </li>
</ul>