<ul class="mega-menu__list mega-menu__list--1 mega-menu__list--grid list-reset">

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-artist">

    <span class="mega-menu__link mega-menu__link--1">By Artist</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/edvard-munch" class="mega-menu__link mega-menu__link--2">EDVARD MUNCH</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/johannes-vermeer" class="mega-menu__link mega-menu__link--2">JOHANNES VERMEER</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/leonardo-da-vinci" class="mega-menu__link mega-menu__link--2">LEONARDO DA VINCI</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/pablo-picasso" class="mega-menu__link mega-menu__link--2">PABLO PICASSO</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-style">

    <span class="mega-menu__link mega-menu__link--1">By Style</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/baroque" class="mega-menu__link mega-menu__link--2">Baroque</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/expressionism" class="mega-menu__link mega-menu__link--2">Expressionism</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/italian-renaissance" class="mega-menu__link mega-menu__link--2">Italian Renaissance</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/post-impressionism" class="mega-menu__link mega-menu__link--2">Post-impressionism</a>

      </li>

    </ul>

  </li>

</ul>