<ul class="mega-menu__list mega-menu__list--1 mega-menu__list--grid list-reset">

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="toys">

    <a href="/collections/toys" class="mega-menu__link mega-menu__link--1">Toys</a>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/boys-toys" class="mega-menu__link mega-menu__link--2">Boys' Toys</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/hasbro-nerf-elite-triad" class="mega-menu__link mega-menu__link--3">Hasbro Nerf Elite Triad</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/hot-wheels-star-wars-tie-fighter-blast-out-battle-play-set" class="mega-menu__link mega-menu__link--3">Hot Wheels Star Wars Tie Fighter Blast-Out Battle Play Set</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/nerf-modulus-recon-mk11" class="mega-menu__link mega-menu__link--3">Nerf Modulus Recon MK11</a>
          </li>

        </ul>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/girls-toys" class="mega-menu__link mega-menu__link--2">Girls Toys</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/barbie-dreamhouse" class="mega-menu__link mega-menu__link--3">Barbie Dreamhouse</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/disney-princess-rapunzels-magical-story-skirt-11-doll" class="mega-menu__link mega-menu__link--3">Disney Princess Rapunzel's Magical Story Skirt 11" Doll</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/mega-construx-american-girl-saiges-picnic" class="mega-menu__link mega-menu__link--3">Mega Construx American Girl Saige's Picnic</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/mega-construx-american-girl-leas-2-in-1-rainforest-sanctuary" class="mega-menu__link mega-menu__link--3">Mega Construx American Girl: Lea's 2-in-1 Rainforest Sanctuary</a>
          </li>

        </ul>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/disney" class="mega-menu__link mega-menu__link--2">DISNEY</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/disney-cars-super-suspension-ramone-vehicle" class="mega-menu__link mega-menu__link--3">Disney Cars Super Suspension Ramone Vehicle</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/disney-pixar-cars-3-deluxe-cars-3-mack-vehicle" class="mega-menu__link mega-menu__link--3">Disney Pixar Cars 3 Deluxe Cars 3 Mack Vehicle</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/disney-pixar-cars-3-tech-touch-lightning-mcqueen" class="mega-menu__link mega-menu__link--3">Disney Pixar Cars 3 Tech Touch Lightning McQueen</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/funko-pop-disney-aladdin" class="mega-menu__link mega-menu__link--3">Funko Pop Disney Aladdin</a>
          </li>

        </ul>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/hello-kitty" class="mega-menu__link mega-menu__link--2">Hello Kitty</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/mega-blocks-hello-kitty-summer-convertible" class="mega-menu__link mega-menu__link--3">Mega Blocks Hello Kitty Summer Convertible</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/vtech-baby-hello-kitty-soft-book" class="mega-menu__link mega-menu__link--3">VTech Baby Hello Kitty Soft Book</a>
          </li>

        </ul>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="apparel">

    <span class="mega-menu__link mega-menu__link--1">Apparel</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/adidas-classic-backpack" class="mega-menu__link mega-menu__link--2">ADIDAS | CLASSIC BACKPACK</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/adidas-classic-backpack-legend-ink-multicolour" class="mega-menu__link mega-menu__link--2">ADIDAS | CLASSIC BACKPACK | LEGEND INK MULTICOLOUR</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/adidas-kids-stan-smith" class="mega-menu__link mega-menu__link--2">ADIDAS | KID'S STAN SMITH</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/adidas-superstar-80s" class="mega-menu__link mega-menu__link--2">ADIDAS | SUPERSTAR 80S</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/flex-fit-mini-ottoman-black" class="mega-menu__link mega-menu__link--2">FLEX FIT | MINI OTTOMAN BLACK</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/men" class="mega-menu__link mega-menu__link--2">MEN</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/adidas-superstar-80s" class="mega-menu__link mega-menu__link--3">ADIDAS | SUPERSTAR 80S</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/asics-tiger-gel-lyte-v-30-years-of-gel-pack" class="mega-menu__link mega-menu__link--3">ASICS TIGER | GEL-LYTE V '30 YEARS OF GEL' PACK</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/nike-crackle-print-tb-tee" class="mega-menu__link mega-menu__link--3">NIKE | CRACKLE PRINT TB TEE</a>
          </li>

        </ul>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/women" class="mega-menu__link mega-menu__link--2">WOMEN</a>

        <ul class="mega-menu__list mega-menu__list--2 list-reset">

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/dr-martens-1460z-dmc-8-eye-boot-cherry-smooth" class="mega-menu__link mega-menu__link--3">DR MARTENS | 1460Z DMC 8-EYE BOOT | CHERRY SMOOTH</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/adidas-classic-backpack" class="mega-menu__link mega-menu__link--3">ADIDAS | CLASSIC BACKPACK</a>
          </li>

          <li class="mega-menu__item mega-menu__item--3">
            <a href="/products/dr-martens-cavendish-3-eye-shoe-black" class="mega-menu__link mega-menu__link--3">DR MARTENS | 1460Z DMC 8-EYE BOOT | CHERRY SMOOTH</a>
          </li>

        </ul>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="paintings">

    <a href="/collections/paintings" class="mega-menu__link mega-menu__link--1">Paintings</a>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/girl-with-a-pearl-earring-johannes-vermeer" class="mega-menu__link mega-menu__link--2">GIRL WITH A PEARL EARRING | JOHANNES VERMEER</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/guernica-pablo-picasso" class="mega-menu__link mega-menu__link--2">GUERNICA | PABLO PICASSO</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/mona-lisa-leonardo-da-vinci" class="mega-menu__link mega-menu__link--2">MONA LISA | LEONARDO DA VINCI</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/self-portrait-without-beard-vincent-van-gogh" class="mega-menu__link mega-menu__link--2">SELF-PORTRAIT WITHOUT BEARD | VINCENT VAN GOGH</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/products/starry-night-vincent-van-gogh" class="mega-menu__link mega-menu__link--2">STARRY NIGHT | VINCENT VAN GOGH</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1 mega-menu__item--content">
    <a class="mega-menu__content" href="/products/girl-with-a-pearl-earring-johannes-vermeer">

      <img src="//wyatt-sandbox.myshopify.com/cdn/shop/files/99022bcbc95d671390f0f782f7cc5495.jpg?v=1726434116&amp;width=559" srcset="//wyatt-sandbox.myshopify.com/cdn/shop/files/99022bcbc95d671390f0f782f7cc5495.jpg?v=1726434116&amp;width=500 500w" width="559" height="800" loading="lazy" sizes="calc(90vw / 4)" class="mega-menu__image">

      <span class="mega-menu__content-text">Shop Now</span>
    </a>
  </li>

</ul>