<ul class="mega-menu__list mega-menu__list--1 mega-menu__list--grid list-reset">

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-brand">

    <span class="mega-menu__link mega-menu__link--1">By Brand</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/barbie" class="mega-menu__link mega-menu__link--2">BARBIE</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/crayola" class="mega-menu__link mega-menu__link--2">CRAYOLA</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/digimon" class="mega-menu__link mega-menu__link--2">DIGIMON</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/dragon-ball" class="mega-menu__link mega-menu__link--2">DRAGON BALL</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-group">

    <span class="mega-menu__link mega-menu__link--1">By Group</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/baby" class="mega-menu__link mega-menu__link--2">Baby</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/kids" class="mega-menu__link mega-menu__link--2">Kids</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/boys-toys" class="mega-menu__link mega-menu__link--2">Boys' Toys</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/girls-toys" class="mega-menu__link mega-menu__link--2">Girls Toys</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-type">

    <span class="mega-menu__link mega-menu__link--1">By Type</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/3-d-puzzles" class="mega-menu__link mega-menu__link--2">3-D Puzzles</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/bath-toys" class="mega-menu__link mega-menu__link--2">Bath Toys</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/board-games" class="mega-menu__link mega-menu__link--2">Board Games</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/building-sets" class="mega-menu__link mega-menu__link--2">Building Sets</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/novelty-toys" class="mega-menu__link mega-menu__link--2">Novelty Toys</a>

      </li>

    </ul>

  </li>

</ul>